@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

@font-face {
    font-family: 'StJude Sans';
    src: url('/_static/fonts/sjs-light.woff');
    font-weight: 300;
}

@font-face {
    font-family: 'StJude Sans';
    src: url('/_static/fonts/sjs-regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'StJude Sans';
    src: url('/_static/fonts/sjs-bold.woff');
    font-weight: 700;
}

* {
    font-family: "StJude Sans"
}

img {
    margin: auto;
    text-align: center;
    display: flex; 
    justify-content: center;
}

.material-icons.material-icons-sjcloud-custom { 
    font-size: 1.6em;
    display: inline-flex;
    vertical-align: middle; 
}
