@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

@font-face {
  font-family: "StJude Sans";
  src: url("../_static/fonts/sjs-light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "StJude Sans";
  src: url("../_static/fonts/sjs-regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "StJude Sans";
  src: url("../_static/fonts/sjs-regular-italic.woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "StJude Sans";
  src: url("../_static/fonts/sjs-bold.woff");
  font-weight: 700;
}

body {
  font-family: "StJude Sans", sans-serif;
}

img {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.material-icons.material-icons-sjcloud-custom {
  font-size: 1.6em;
  display: inline-flex;
  vertical-align: middle;
}

code,
kbd,
pre {
  font-family: "Ubuntu Mono", SFMono-Regular, Consolas, Menlo, monospace;
  font-size: 14pt !important;
}

.tabbed-set {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.tabbed-set .highlight {
  background: #ddd;
}

.tabbed-set .tabbed-content {
  display: none;
  order: 99;
  width: 100%;
}

.tabbed-set label {
  width: auto;
  margin: 0 0.5em;
  padding: 0.25em;
  font-size: 120%;
  cursor: pointer;
}

.tabbed-set input {
  position: absolute;
  opacity: 0;
}

.tabbed-set input:nth-child(n + 1) {
  color: #333333;
}

.tabbed-set input:nth-child(n + 1):checked + label {
  color: #ff5252;
}

.tabbed-set input:nth-child(n + 1):checked + label + .tabbed-content {
  display: block;
}
